<section class="dog-profile">
    <% matches.forEach(function(matches) { %>
        <div class="dog-profile__img-container">
            <img src="<%= matches.image %>" alt="doggo">
        </div>
        <div class="dog-profile__content">
            <h2>
                <%= matches.name %>
            </h2>
            <div>
                <p>
                    <%= matches.about %>
                </p>
                <ul>
                    <li>
                        <span>Age:</span>
                        <%= matches.age %> years
                    </li>
                    <li>
                        <span>Gender:</span>
                        <%= matches.gender %>
                    </li>
                    <li>
                        <span>Size:</span>
                        <%= matches.size %>
                    </li>
                </ul>
                <button>Adoption</button>
            </div>
        </div>
        <% }); %>
</section>