<!doctype html>
<html lang="en">

<%- include('../components/head'); %>

    <body>
        <%- include('../components/header'); %>

            <main>
                <%- include('../partials/questionnaire'); %>
                    <%- include('../partials/loading'); %>
            </main>

            <%- include('../components/footer'); %>

                <script src="scripts/script.js"></script>
    </body>

</html>